/*
*  Last edit by Dwayne 2015-12-3 14:00:29 
*/

/*
 * Base layout structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar-inverse {
    background-color: #428bca;
    border-color: #286090;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #286090;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  /* display: none; */
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    text-align: left;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  /* margin-bottom: 20px; */
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 60px;
    padding-left: 60px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}




/*
 * Signup page
 */
.signup-container{
    margin-top: 70px;
    width: 400px;
    padding-right: 100px;
}
.signup-container p {
    color: grey;
}
.signup-container h2 {
    font-size: 1.4em;
    line-height: 1;
}
.signup-container .form-group {
    margin-top: 20px;
}


/*
* Article Page
*/

/*
 * Article Globals
 */
.article {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  font-size: 18px;
  line-height: 1.5;
}

.article h1, .article .h1,
.article h2, .article .h2,
.article h3, .article .h3,
.article h4, .article .h4,
.article h5, .article .h5,
.article h6, .article .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
 * Article name and description
 */

.article-header {
  padding-top: 20px;
  /*padding-bottom: 20px;*/
}
.article-title {
  margin-top: 30px;
  font-weight: normal;
}
.article-description {
  font-size: 20px;
  color: #999;
}

/*
 * Article Content
 */

.article-box {
  margin-bottom: 60px;
}
.article-title {
  margin-bottom: 5px;
  font-size: 40px;
}


/*
* Article List Page
*/

.article-list hr {
    margin: 15px 0;
}
.article-list #currentPageNum {
    display: none;
    height: 0;
    width: 0;
}

/*
 * Article list group
 */
.article-list-group {

}
.article-list-title {
    font-size: 32px;
    margin-bottom: 5px;
}
.article-list-description {
    color: #999;
    font-size: 16px;
    margin-bottom: 5px;
}
.article-list-btn {
    line-height: 1;
    padding: 5px 10px;
    /*
    margin-left: 5px;
    margin-bottom: 5px;
    */
    border-radius: 10px;
}
.article-list-btn:hover {
    background-color: #428bda;  
    color: #fff;
    border-color: #fff;
}

/*
* Add Article Page
*/
.add-article-container {
    /* margin-top: 50px; */
    /* width: 700px; */
    padding-right: 100px;
}
.add-article-container .sm-group {
    width: 600px;
}
.add-article-container textarea {
    resize:vertical;
}

/*
*  Exam Page    
*/

/*
   Genera    
*/
.exam {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  font-size: 18px;
  line-height: 1.5;
}

.exam h1, .exam .h1,
.exam h2, .v .h2,
.exam h3, .exam .h3,
.exam h4, .exam .h4,
.exam h5, .exam .h5,
.exam h6, .exam .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
*  Add Exam page
*/
.add-exam-container{
    margin-top: 70px;
    width: 400px;
    padding-right: 100px;
}
.add-exam-container label {
    font-size: 20px;
}
.add-exam-container p {
    color: grey;
    margin-top: 10px;
    font-size: 14px;
}

/*
*  Exam Page
*/
.exam-header {
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}
.exam-title {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: normal;
}
.exam-description {
    font-size: 20px;
    color: #999;
}
.exam dl {
    margin-bottom: 30px;
}
.exam dt {
    font-size: 24px;
}
.exam dd {
    font-size: 18px;
    padding-left: 25px;
}
.exam .radio-inline {
    margin-top: 10px;
}
.exam .radio-inline label {
    font-weight: normal;
    padding-left: 20px;
}
.exam dd img {
    max-width: 300px;
}
.exam .btn {
    width: 30%;
    margin-right: 20px;
}