@using OnlineTeachingSystem.ViewModels
@model ProfileViewModel
@{ViewBag.Title = "Profile";}
<!-- Create by Dwayne 2015-12-4 17:39:35 -->
<div class="row">
    <div class="col-sm-12 col-md-8 blog-main">
        <div class="article-header">
            <h1 class="article-title">@Model.NickName</h1>
            <p class="article-description">@Model.Mail</p>
            <hr />
        </div>
        <form class="" action="/User/UserInfoUpdate" method="post" id="changePasswordForm">
            @if (Model.Mail == "admin@ots.com")
            {
                <h2>Manage Content</h2>
                <a class="btn btn-md btn-primary btn-block profile-btn" href="/article/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add article</a>
                <a class="btn btn-md btn-primary btn-block profile-btn" href="/exam/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Exam</a>
                <hr />
            }
            <h2>Change Password</h2>
            <div class="form-group">
                <label class="control-label" for="inputPassword">New Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" required="" name="Password">
                <p>Please input at least 6 character.</p>
            </div>
            <div id="ots-alert" class="alert signup-alert alert-@Model.AlertType" style="display:none">@Model.Message</div>
            <button class="btn btn-md btn-primary btn-block" type="submit">Change</button>
        </form>
    </div>
</div>