@{
    ViewBag.Title = "Test";
}

<div class="row article">
    <div class="col-sm-12 col-md-8 blog-main">
        <div class="article-header">
            <h1 class="article-title">An Article For Testing</h1>
            <p class="article-description">November 22, 2015 by <a href="http://www.dwayneten.com">DwayneTen</a></p>
            <p class="article-description">This article is use for testing the article features and preview the layout.</p>
            <hr />
        </div>
        <div class="article-box">
            <h2>Heading</h2>


        </div>
    </div>
</div>
