@using OnlineTeachingSystem.ViewModels
@model ArticleViewModel
@{ViewBag.Title = @Model.Title;}

<div id="articleContent">
    @Model.Content
</div>
<script>
    var t = $('#articleContetn')[0];
    t.innerHTML = t.innerText;
</script>