@using OnlineTeachingSystem.ViewModels
@model ArticleListViewModel
@{ViewBag.Title = "Article List";}
<div class="row">
    <div class=" col-sm-12 col-md-8 article-list">
        <hr>
        <div class="article-list-group">
            <p class="article-list-title">An Article For Testing</p>
            <p class="article-list-description"> November 22, 2015 by <a href="#">DwayneTen</a></p>
            <p class="article-list-description">This article is use for testing the article features and preview the layout.</p>
            <a class="btn btn-default article-list-btn" href="/Article/Test">Read more »</a>
            <hr>
        </div>
        <div class="article-list-group">
            <p class="article-list-title">An Article For Testing</p>
            <p class="article-list-description"> November 22, 2015 by <a href="#">DwayneTen</a></p>
            <p class="article-list-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id eleifend nibh. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            <a class="btn btn-default article-list-btn" href="/Article/Test">Read more »</a>
            <hr>
        </div>
        <div class="article-list-group">
            <p class="article-list-title">An Article For Testing</p>
            <p class="article-list-description"> November 22, 2015 by <a href="#">DwayneTen</a></p>
            <p class="article-list-description"></p>
            <a class="btn btn-default article-list-btn" href="/Article/Test">Read more »</a>
            <hr>
        </div>
        <div class="article-list-group">
            <p class="article-list-title">An Article For Testing</p>
            <p class="article-list-description"> November 22, 2015 by <a href="#">DwayneTen</a></p>
            <p class="article-list-description">This article is use for testing the article features and preview the layout.</p>
            <a class="btn btn-default article-list-btn" href="/Article/Test">Read more »</a>
            <hr>
        </div>
        <div class="article-list-group">
            <p class="article-list-title">An Article For Testing</p>
            <p class="article-list-description"> November 22, 2015 by <a href="#">DwayneTen</a></p>
            <p class="article-list-description">This article is use for testing the article features and preview the layout.</p>
            <a class="btn btn-default article-list-btn" href="/Article/Test">Read more »</a>
            <hr>
        </div>
        <nav style="text-align:center;">
            <ul class="pagination">
                <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 </a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>
</div>