<!--
    Created by Dwayne 2015-11-24 15:01:27
-->
@using OnlineTeachingSystem.ViewModels
@model SideBarViewModel
<ul class="nav nav-sidebar">
    <li><a href="/">Home</a></li>
    <li><a href="/article/test">Tutorial</a></li>
    <li><a href="#">Test</a></li>
    <li><a href="#">About</a></li>
    <li style="display:none">@Model.CurrentIndex</li>
</ul>