<!--
    Created by Dwayne 2015-11-24 15:01:27
-->
@using OnlineTeachingSystem.ViewModels
@model SideBarViewModel
<ul class="nav nav-sidebar">
    <li><a href="/">Home</a></li>
    <li><a href="/article">Tutorial</a></li>
    <li><a href="/exam">Exam</a></li>
    <li><a href="/home/about">About</a></li>
    <li style="display:none">@Model.CurrentIndex</li>
</ul>