@{
    ViewBag.Title = "About";
}
<div class="row about">
    <div class="col-sm-12 col-md-8 blog-main">
        <h1>About Online Teaching System</h1>

        <hr />

        <p>This project is about a school training which is required to build a website by using ASP.NET framework.</p>

        <p>In order to make the development easier and practice our teamwork skill in the meantime, we make up a small team to develop this project.</p>

        <p>
            Here are the member list: <br/>
            - <a href="https://github.com/Dwayneten">DwayneTen</a><br />
            - <a href="https://github.com/mimikami">Mimikami</a><br />
            - <a href="https://github.com/HuaFeng-Miki">Miki</a><br />
            - <a href="https://github.com/zc950514">Zhang Cong</a><br />
        </p>

        <p>We also host it on GitHub, Check <a href="https://github.com/Dwayneten/OnlineTeachingSystem">this link</a> for more details.</p>

        <h3>What frameworks or/and technique we are using</h3>
        <hr />

        <h4>front-end</h4>

        <ul><li>Boostraps</li><li>jQuery</li></ul>

        <h4>back-end</h4>

        <ul><li>ASP.NET</li><li>MVC</li></ul>

        <h3>Why use them</h3>
        <hr />

        <p>Using front-end framework, we can build pretty user interface easy and fast.</p>

        <p>Using MVC pattern instead of WebForm to get complete control over HTML and more support of JavaScript.</p>

        <p>On the other hand, MVC make us focus on our own task.</p>

        <blockquote><p>Reference: <a href="http://www.codeproject.com/Articles/528117/WebForms-vs-MVC">WebForms-vs-MVC</a></p></blockquote>

        <h3>How we allocate our task</h3>
        <hr />
        <p>Check the <a href="https://github.com/Dwayneten/OnlineTeachingSystem/network">commits history graph</a></p>

        <h3>License</h3>
        <hr />
        <p>MIT</p>
    </div>
</div>