@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Teaching System</h1>
    <p class="lead">Online Teaching System is a platform that offering a series of ASP.NET tutorial.</p>
    <p><a href="/user/signup" class="btn btn-primary btn-lg">Get Start &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec vitae convallis lacus. Maecenas tristique aliquam lectus eget euismod. 
            Etiam sagittis velit nec lobortis rhoncus. Curabitur pulvinar diam massa. Morbi tempus.
        </p>
        <p><a class="btn btn-default" href="/article">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more details</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet, 
        ante id pharetra ornare, justo orci semper sem, tincidunt consectetur massa purus sed orci. 
        Donec imperdiet ultrices turpis nec feugiat.</p>
        <p><a class="btn btn-default" href="https://github.com/Dwayneten/OnlineTeachingSystem">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aenean efficitur consectetur gravida. Sed sagittis luctus leo, 
        at facilisis lectus consectetur sed. Praesent dapibus efficitur justo, 
        venenatis mattis felis tincidunt a.</p>
        <p><a class="btn btn-default" href="/home/about">Learn more &raquo;</a></p>
    </div>
</div>